@{
    ViewBag.Title = "About";
}

<div class="mainContainers">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>The Josh Hall Snow Company is a site to show my intergration of skills into a hobby that I am passionate about. </p>
</div>

