@{
    ViewBag.Title = "Home";
}

<div class="parallax homePageBanner">
    
    <p class="image-caption">Background Photos from  <a href="https://pngtree.com/freebackground/mountain-snow-alp-slope-background_759419.html">pngtree.com</a></p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Welcome statement of some sort</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Find all the gear you need to hit the slopes</h2>
            <p><a class="btn btn-default" href="~/Home/Shop">Find Your Gear &raquo;</a></p>
        </div>
        <div class="col-xs-12">
            <h2>Featured Products</h2>
            <div class="col-xs-12 col-md-3">
            </div>
        </div>
        <div class="col-xs-12">
            <h2>Featured Products</h2>
            <div class="col-xs-12 col-md-3">
            </div>
        </div>
        <div class="col-xs-12">
            <h2>Featured Products</h2>
            <div class="col-xs-12 col-md-3">
            </div>
        </div>
    </div>
</div>
