
@{
    ViewBag.Title = "ShoppingCart";
}

<div class="mainContainers">
    <h2>ShoppingCart</h2>

    <input class="siteBtns" type="button" name="Checkout" value="Checkout" />

    <input class="siteBtns" type="button" name="KeepShopping" value="Keep Shopping" />

    <input class="siteBtns" type="button" name="ModifyCart" value="Edit Cart" />
    <div class="cartItemsContainer">
        <div class="cartItem"></div>
        <div class="cartItem"></div>
        <div class="cartItem"></div>
    </div>
</div>