
@{
    ViewBag.Title = "Shop";
}
<div class="mainContainers  shopItemsContainer">
    <h2>Shop</h2>
    <div class="row">
        <a class="noDeco" href="#">
            <div class="shopItem" id="shopItem1">
                <img src="#" alt="Picture of Something Awesome" />
                <div class="shopItemDetails">
                    <h4 class="shopItemTitle">Item Name</h4>
                    <ul>
                        <li>info</li>
                        <li>info</li>
                        <li>info</li>
                    </ul>
                </div>
                <input type="button" name="productName" value="View Product" />
            </div>
        </a>
        <div class="shopItem" id="shopItem2">
            <img src="#" alt="Picture of Something Awesome" />
            <div class="shopItemDetails">
                <h4 class="shopItemTitle">Item Name</h4>
                <ul>
                    <li>info</li>
                    <li>info</li>
                    <li>info</li>
                </ul>
            </div>
            <input type="button" name="productName" value="View Product" />
        </div>
        <div class="shopItem" id="shopItem3">
            <img src="#" alt="Picture of Something Awesome" />
            <div class="shopItemDetails">
                <h4 class="shopItemTitle">Item Name</h4>
                <ul>
                    <li>info</li>
                    <li>info</li>
                    <li>info</li>
                </ul>
            </div>
            <input type="button" name="productName" value="View Product" />
        </div>
        <div class="shopItem" id="shopItem4">
            <img src="#" alt="Picture of Something Awesome" />
            <div class="shopItemDetails">
                <h4 class="shopItemTitle">Item Name</h4>
                <ul>
                    <li>info</li>
                    <li>info</li>
                    <li>info</li>
                </ul>
            </div>
            <input type="button" name="productName" value="View Product" />
        </div>
    </div>
    <div class="row">
        <div class="shopItem" id="shopItem5">
            <img src="#" alt="Picture of Something Awesome" />
            <div class="shopItemDetails">
                <h4 class="shopItemTitle">Item Name</h4>
                <ul>
                    <li>info</li>
                    <li>info</li>
                    <li>info</li>
                </ul>
            </div>
            <input type="button" name="productName" value="View Product" />
        </div>
        <div class="shopItem" id="shopItem6">
            <img src="#" alt="Picture of Something Awesome" />
            <div class="shopItemDetails">
                <h4 class="shopItemTitle">Item Name</h4>
                <ul>
                    <li>info</li>
                    <li>info</li>
                    <li>info</li>
                </ul>
            </div>
            <input type="button" name="productName" value="View Product" />
        </div>
        <div class="shopItem" id="shopItem7">
            <img src="#" alt="Picture of Something Awesome" />
            <div class="shopItemDetails">
                <h4 class="shopItemTitle">Item Name</h4>
                <ul>
                    <li>info</li>
                    <li>info</li>
                    <li>info</li>
                </ul>
            </div>
            <input type="button" name="productName" value="View Product" /> 
        </div>
        <div class="shopItem" id="shopItem8">
            <img src="#" alt="Picture of Something Awesome" />
            <div class="shopItemDetails">
                <h4 class="shopItemTitle">Item Name</h4>
                <ul>
                    <li>info</li>
                    <li>info</li>
                    <li>info</li>
                </ul>
            </div>
            <input type="button" name="productName" value="View Product" />
        </div>
    </div>
    <div class="row">
        <div class="shopItem" id="shopItem9">
            <img src="#" alt="Picture of Something Awesome" />
            <div class="shopItemDetails">
                <h4 class="shopItemTitle">Item Name</h4>
                <ul>
                    <li>info</li>
                    <li>info</li>
                    <li>info</li>
                </ul>
            </div>
            <input type="button" name="productName" value="View Product" />
        </div>
        <div class="shopItem" id="shopItem10">
            <img src="#" alt="Picture of Something Awesome" />
            <div class="shopItemDetails">
                <h4 class="shopItemTitle">Item Name</h4>
                <ul>
                    <li>info</li>
                    <li>info</li>
                    <li>info</li>
                </ul>
            </div>
            <input type="button" name="productName" value="View Product" />
        </div>
        <div class="shopItem" id="shopItem11">
            <img src="#" alt="Picture of Something Awesome" />
            <div class="shopItemDetails">
                <h4 class="shopItemTitle">Item Name</h4>
                <ul>
                    <li>info</li>
                    <li>info</li>
                    <li>info</li>
                </ul>
            </div>
            <input type="button" name="productName" value="View Product" />
        </div>
        <div class="shopItem" id="shopItem12">
            <img src="#" alt="Picture of Something Awesome" />
            <div class="shopItemDetails">
                <h4 class="shopItemTitle">Item Name</h4>
                <ul>
                    <li>info</li>
                    <li>info</li>
                    <li>info</li>
                </ul>
            </div>
            <input type="button" name="productName" value="View Product" />
        </div>
    </div>
</div>

